<!DOCTYPE html>
<head>

    <meta charset="utf-8" />

    <title>Kit de Survie JS</title>
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <style>
    	body{ font-family: 'Quicksand', sans-serif; }


	</style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
  </script>
  </head>
  <body>
    <div ng-app="">
      <p>Name: <input type="text" ng-model="name"></p>
      <p ng-bind="name"></p> // Peut aussi s’ ́ecrire <p>{{ name }}</p>
      <p>Couleur : <input type="text" ng-model="color" style="background-color: {{ color }}"></p>
      <p style="background-color: {{ color }}">Le couleur du fond est {{ color }}</p>
  </div>

  </body>
</html>
