<!DOCTYPE html>
<head>

    <meta charset="utf-8" />

    <title>Kit de Survie JS</title>
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <style>
    	body{ font-family: 'Quicksand', sans-serif; }


	</style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
  </script>
  </head>
  <body>
    <div ng-app="app01" ng-controller="controlleur">
      <input type="text" ng-model="number1">
      <input type="text" ng-model="number2">
      <select ng-model="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <p>{{ calcul() }}</p>
    </div>
    <script>
      var app = angular.module("app01", []);
      app.controller("controlleur", function($scope) {
        $scope.operation = "+";
        $scope.calcul = function() {
          if (!this.number1 || !this.number2) {
            return "";
          }
          var result = 0;
          switch (this.operation) {
            case "+":
              result = parseInt(this.number1) + parseInt(this.number2);
              break;
            case "-":
              result = parseInt(this.number1) - parseInt(this.number2);
              break;
            case "*":
              result = parseInt(this.number1) * parseInt(this.number2);
              break;
            case "/":
              result = parseInt(this.number1) / parseInt(this.number2);
              break;
          }
          return `${this.number1} ${this.operation} ${this.number2} = ${result}`;
        }
      });
    </script>

  </body>
</html>
