<!DOCTYPE html>
<head>

    <meta charset="utf-8" />

    <title>Kit de Survie JS</title>
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <style>
    	body{ font-family: 'Quicksand', sans-serif; }


	</style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
  </script>
  </head>
  <body>
    <div ng-app="pokemonApi" ng-controller="pokemonController">
      <ul>
        <li ng-repeat="pokemon in pokemons">{{ pokemon.id }} - {{ pokemon.ename }} {{ pokemon.type }}</li>
      </ul>
    </div>

    <script>
      var app = angular.module("pokemonApi", []);
      app.controller("pokemonController", function($scope, $http) {
        $scope.pokemons = [];
        $http.get("https://raw.githubusercontent.com/fanzeyi/Pokemon-DB/master/pokedex.json").then(function(response) {
          if (response.status == 200) {
            $scope.pokemons = response.data;
          $scope.pokemons.forEach(function(element) {
            //console.log(element['id']);
            console.log(element['type']);
            var $type = [];
            element['type'].forEach(function(by) {
              switch (by) {
                case "草":
                  $type = ["Plante"];
                  break;
                case "毒":
                  $type = ["Poison"];
                  break;
                case "炎":
                  $type = ["Feu"];
                  break;
                case "飞行":
                  $type = ["Vol"];
                  break;
                case "水":
                  $type = ["Eau"];
                  break;
                case "虫":
                  $type = ["Insecte"];
                  break;
                case "钢":
                  $type = ["Acier"];
                  break;
                case "地上":
                  $type = ["Sol"];
                  break;
                case "岩石":
                  $type = ["Roche"];
                  break;
                case "冰":
                  $type = ["Glace"];
                  break;
                case "超能":
                  $type = ["Psy"];
                  break;
                case "虫":
                  $type = ["Ténèbre"];
                  break;
                case "幽灵":
                  $type = ["Spectre"];
                  break;
                case "龙":
                  $type = ["Dragon"];
                  break;
                case "妖精":
                  $type = ["Fée"];
                  break;
                case "电":
                  $type = ["Electique"];
                  break;
                case "格斗":
                  $type = ["Combat"];
                  break;
                default:
                  $type = ["Normal"];
              }
              console.log($type);
            });
          });}
        })
      });
    </script>
</body>
</html>
